/*Feedback header*/

/* Summative Feedback Style*/
#topbutton
{
    text-align: center;
    margin-top: 5em;
    margin-bottom: 10em;
}

#midleftbtn
{
    text-align: center;
}

#midprofilepic
{
    text-align: center;
}

#midrightbtn
{
    text-align: center;
}

#bottombutton
{
    text-align: center;
    margin-top: 10em;
    margin-bottom: 5em;
}


/* Formative Feedback Style*/
#fbtextDisplay
{
    margin-top: 2em;
    
}

#fbChoices
{
    text-align: center;
}


/* Common Styles*/
.feedbackHeader
{
    text-align: center;
    margin: auto;
}

.fbpagination
{
    margin-top: 4em;
}