.panel {
	padding: 70px;
	min-width: 500px;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.meme-resize {
	height: 200px;
	width: 300px;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.4);
}

.cards {
	height: 355px;
	width: 209px;
	min-width: 209px;
	z-index: 0;
	opacity: 1;
	display: flexbox;
	background-color: white;
	border-radius: 20px;
	box-shadow: 0 5px 12px 3px rgba(0, 0, 0, 0.2);
	cursor: pointer;
	opacity: 80%;
}
