.fb {
	display: flex;
}

.fb.fcc {
	justify-content: center;
	align-items: center;
}

.fb.fcs {
	justify-content: center;
	align-items: stretch;
}

.fb.fb-col {
	flex-direction: column;
}

.fb.fb-row {
	flex-direction: row;
}

.fb.fb-rrow {
	flex-direction: row-reverse;
}

.fb.fb-rcol {
	flex-direction: column-reverse;
}

.fb.fb-sb {
	justify-content: space-between;
}

.fb.fb-sa {
	justify-content: space-around;
}

.fb.fb-se {
	justify-content: space-evenly;
}

.fb.fb-stretch {
	align-items: stretch;
}

.fb.fb-fs {
	align-items: flex-start;
}

.fb.fb-center {
	align-items: center;
}

.fb.fb-wrap {
	flex-wrap: wrap;
}

.fb.fb-fw {
	width: 100%;
}

.fb.fb-fh {
	height: 100%;
}

.fb .fg-1 {
	flex-grow: 1;
}

.fb .fg-2 {
	flex-grow: 2;
}

.fb .fg-3 {
	flex-grow: 3;
}

.f-1 {
	flex: 1;
}

.fbasis {
	flex-basis: 100%;
}
